body {
  background-color: #cfebd1;
}

.app {
  display: flex;

  > * + * {
    margin-left: 30px;
  }

  &__canvas {
    width: 512px;
    height: 512px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 30px;
    border: solid 2px gray;
    padding: 10px;
    background-color: lightgray;

    > * + * {
      margin-top: 10px;
    }
  }

  &__reset {
    width: 100px;
  }

  &__effect-selector {
    width: 200px;
  }

  &__params {
    display: flex;
    flex-wrap: wrap;
  }

  &__rotation,
  &__scale,
  &__color,
  &__binarize,
  &__vivid {
    width: 300px;
    border: dashed 2px gray;
    padding: 10px;
    background-color: lightblue;
    margin-top: 10px;
    margin-left: 10px;
  }

  &__binarize {
    display: none;
  }

  &__vivid {
    display: none;
  }
}

.rotation {
  &--x > &__label::before {
    content: 'X: ';
  }

  &--y > &__label::before {
    content: 'Y: ';
  }

  &--z > &__label::before {
    content: 'Z: ';
  }
}

.scale {
  &--x > &__label::before {
    content: 'X: ';
  }

  &--y > &__label::before {
    content: 'Y: ';
  }

  &--z > &__label::before {
    content: 'Z: ';
  }
}

.color {
  &--r > &__label::before {
    content: 'R: ';
  }

  &--g > &__label::before {
    content: 'G: ';
  }

  &--b > &__label::before {
    content: 'B: ';
  }

  &--a > &__label::before {
    content: 'A: ';
  }
}

.vivid {
  &--k1 > &__label::before {
    content: 'K1: ';
  }
  &--k2 > &__label::before {
    content: 'K2: ';
  }
}
